/.idea/
/demo/node_modules/
/node_modules/
/dist/
/demo/dist
/liliana-sanfilippo-react-bibtex-reference-generator-0.0.1.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.0.1.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.0.2.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.0.3.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.1.0.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.1.3.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.1.4.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.2.2.tgz
/liliana-sanfilippo-react-bibtex-reference-manager-0.2.3.tgz
